@import url("https://rsms.me/inter/inter.css");

:root {
  --main-bg-color: #eceff1;
  --main-text-color: #263238;
  --font-size: min(5vmin, 1.2rem);
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: Inter, -apple-system, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: var(--font-size);
}

main {
  padding: min(8%, 4.5rem);
  padding-top: 2.5rem;
  padding-bottom: 0;
}

h1 {
  margin-top: 0;
  font-weight: 800;
}

section {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.4rem 0.3rem;
}

.number {
  font-weight: 300;
}

.icon {
  max-width: 2rem;
  float: right;
  filter: invert(80%);
}

footer {
  padding-top: 3rem;
  min-width: 100%;
  min-height: 3.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #263238;
    --main-text-color: #eceff1;
  }
  .icon {
    filter: invert(0%);
  }
}
